.chat-messages {
    position: relative;
    width: calc(100% - var(--sidebar-width));
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-messages__messages {
    padding: 1rem;
    height: 100%;
    overflow-y: scroll;
}

.chat-messages__message {
    margin-bottom: 1.2rem;
}

.chat-messages__message-sender {
    padding: 0.2rem;
    font-size: 0.8rem;
}

.chat-messages__message-text {
    position: relative;
    display: inline-block;
    border-radius: 0.5rem;
    background-color: var(--color-base-10);
    padding: 0.5rem;
    min-width: 4rem;
}

.chat-messages__message-actions {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: var(--color-base-10);
    box-shadow: var(--box-shadow);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.chat-messages__message-text:hover .chat-messages__message-actions {
    opacity: 1;
}

.chat-messages #chat-messages-loader {
    background-color: var(--color-base-00);
}
