.message-input__input {
    width: 100%;
    background-color: var(--color-base-00);
    border: 0.1rem var(--font-color) solid;
    border-radius: 0.3rem;
    outline: none;
    color: var(--font-color);
    padding: 1rem;
    resize: none;
    white-space: normal;
    height: 1rem;
}
