{% load static %}
<head>
    <link rel="stylesheet"
          href="{% static 'chat/message-input/message-input.css' %}">
</head>
<form id="message-input-form"
      class="message-input"
      hx-target="#chat-messages"
      hx-trigger="submit"
      hx-swap="outerHTML transition:true"
      hx-post="{% url 'chat-messages' chat_id=chat.id %}"
      hx-include="#message-input">
    <label>
        <textarea id="message-input"
                  class="message-input__input"
                  placeholder="Message"
                  name="text"></textarea>
    </label>
</form>
