.chat-sidebar {
    width: 15rem;
    background-color: var(--color-base-10);
    box-shadow: var(--box-shadow);
}

.chat-sidebar__header {
    padding: 1rem;
    border-bottom: 0.2rem var(--color-base-00) solid;
}

.chat-sidebar__chat-image {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    color: black;
    background-color: white;
}

.chat-sidebar__chat {
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.chat-sidebar__chat:hover {
    background-color: var(--color-base-00);
    cursor: pointer;
}

.chat-sidebar__chat-selected,
.chat-sidebar__chat-selected:hover {
    background-color: var(--primary);
}
