<div class="chat-sidebar">
    <div class="chat-sidebar__header">Chats</div>
    {% for chat in chats %}
        <div class="chat-sidebar__chat{% if selected_chat.id == chat.id %} chat-sidebar__chat-selected{% endif %}"
             hx-get="{% url 'chat-messages' chat_id=chat.id %}"
             hx-target="#chat-messages"
             hx-swap="outerHTML transition:true"
             hx-push-url="{% url 'chat' chat_id=chat.id %}"
             hx-indicator="#chat-messages-loader">
            <div class="chat-sidebar__chat-image">{{ chat.image_placeholder_text }}</div>
            # {{ chat.name }}
        </div>
    {% endfor %}
</div>
