.header {
    position: relative;
    background-color: var(--color-base-00);
    box-shadow: var(--box-shadow);
    padding: 0 1rem;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.header__link {
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.header__link:not(:last-child) {
    margin-right: 2rem;
}

.header__link:visited {
    color: var(--font-color);
}

.header__link:hover {
    color: #aeaeaf;
    text-decoration: underline;
}
