:root {
    --color-base-00: #1e1e1e;
    --color-base-05: #212121;
    --color-base-10: #242424;
    --font-color: #dadada;
    --primary: #a079ff;
    --box-shadow: 0.2rem 0 1rem black;
    --header-height: 3rem;
    --sidebar-width: 20rem;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--color-base-00);
    font-family: Roboto Light, sans-serif;
    color: var(--font-color);
}
