{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{{ SITE_NAME }}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        {% block extrastyle %}{% endblock %}
        <script src="{% static 'core/vendor/js/htmx.min.js' %}"></script>
        <script src="{% static 'core/vendor/js/htmx-ws.js' %}"></script>
        <script src="{% static 'core/vendor/js/hyperscript.min.js' %}"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="h-screen flex flex-col">
        {% include 'core/includes/header.html' %}
        {% block content %}{% endblock %}
    </body>
</html>
